*,
*::before,
*::after {
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
    font-size: 10px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    background: #151622;
}


img {
    width: 100%;
    height: 100%;
}

button {
    outline: 0;
    border: 0;
}

:root {
    /* font */
    --ptff: 'Inter', sans-serif;
    --stff: 'Chivo', sans-serif;
    --hff: 'Prosto One', cursive;

    /* font size */
    --xxlfs: 9rem;
    --xlfs: 4.7rem;
    --lfs: 4rem;
    --mfs: 3rem;
    --sfs: 2.4rem;
    --xsfs: 1.5rem;

    /* font weight */
    --sfw: 400;
    --lfw: 700;
    --xlfw: 900;

    /* colors */
    --hc: #159DFF;
    --pc: #918080;
    --ac: #B51D08;
    --fbgc: #383942;
}

main {
    width: 85%;
    margin-inline: auto;
}

footer {
    width: 100%;
}

.logo {
    max-width: 15em;
    min-height: 7em;
    margin-top: 1em;
    margin-right: 77em;
    margin-left: 2.4em;
}

.heading {
    font-family: var(--hff);
    font-weight: var(--sfw);
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    color: var(--ac);
    margin-bottom: 1em;
    margin-top: 1em;
}

.text {
    font-family: var(--ptff);
    font-weight: var(--lfw);
    font-size: 1rem;
    color: var(--pc);
    padding-bottom: 1em;
}

.grid {
    display: grid;
    column-gap: 1.25%;
    
    grid-template-columns: repeat(2, 1fr);
    margin: 3em;     
}

.price-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2 , auto);
    padding: 0;
    height: 95%
}

.price {
    font-size: 1.3rem;
    font-weight: 900;
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 0.38em;
    padding-bottom: 0.35em;
    background: var(--fbgc);
}

picture {
    object-fit: cover;
    min-height: 100%;
}

 
@media (min-width: 900px) {
    .price {
        opacity: 0;
        font-family:var(--ptff) ;
        font-weight: 400;
        font-size: 3rem;
        justify-self: center;
        align-self: center;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        z-index: 1;
        opacity: 0;
        transition: opacity 400ms ease-in-out;
        padding: 0;
        background: 0;
    }
    
    .picture {
        position: relative;
        grid-column: 1 / 2;
        grid-row: 1 / 2; 
     object-fit: cover;
        min-height: 100%;
        
        padding: 0;
    }
    
    
    
    .picture::after {
        content: '';
        position: absolute;
        opacity: 0;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background-color: hsl(0, 0%, 0%);
        transition: opacity 400ms ease-in-out;
    }
    
    .picture:hover::after {
        opacity: 0.6;
    }
    
    .price:hover ~ .picture::after {
        opacity: 0.6;
      }
    
      
      .price-grid:hover .picture::after {
        opacity: 0.6;
      }
    
      .price-grid:hover .price {
        opacity: 1;
      }

}


.form-heading {
    font-family: var(--hff);
    font-weight: var(--sfw);
    font-size: var(--lfs);
    color: var(--hc);
    margin-top: 1em;
    margin-bottom: 0;
    margin-bottom: 0.4em;
}

form {
    background-color: var(--fbgc);
    padding: 3em 4em;
}

.form_sub-heading {
    font-family: var(--ptff);
    font-weight: var(--lfw);
    font-size: 1.4rem;
    text-align: left;
    margin-bottom: 1em;
    color: #159DFF;
}

label {
    display: block;
    font-family: var(--ptff);
    font-weight: var(--lfw);
    font-size: 1rem;
    margin: 0.7em 0;
    color: white;
}

input {
    border: 0;
    outline: #159DFF;
}

input:focus{
    outline: 0.2rem solid #151622;
    outline-offset: -0.3rem;     /* oranges! yey */
  }

.name-box,
.email-box,
.phone-box {
    width: 100%;
    height: 2.7em;
    border-radius: 0.2rem;
    padding: 0.2em 1em;
}

.big-cover {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cover {
    width: 47.5%;
}

#box {
    width: 47.5%;
    min-height: 100%;
    background-color: white;
    color: black;
    border-radius: 0.2rem;
    padding: 1em; 
    outline: 0;

} 

#box:focus {
    outline: 0.2rem solid #151622;
    outline-offset: -0.5rem;     /* oranges! yey */
}

.form-text {
    font-family: var(--ptff);
    font-weight: var(--lfw);
    font-size: 1rem;
    color: white;
    margin: 1em 0;
}

.form-flex {
    display: flex;
    gap: 2em;
    justify-content: center;
}

.form-btn {
    font-family: var(--ptff);
    font-weight: var(--lfw);
    width: 8em;
    background-color: white;
    color: var(--hc);
    padding: 0.5em 1em;
    border-radius: 0.4em;
    margin-bottom: 2em;
    transition: all 300ms ease-in-out;
    
}

.form-btn:hover {
    background-color: var(--hc);
    color: white;
    transform: scale(1.1);
}

.form-btn1 {
    font-family: var(--ptff);
    font-weight: var(--lfw);
    width: 14em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: var(--ac);
    margin: 0 auto;
    padding: 0.5em 1em;
    border-radius: 0.4em;
    transition: transform 200ms ease-in-out;
}

.form-btn1:hover {
    background-color: var(--ac);
    color: white;
    transform: scale(1.1);
}

footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--fbgc);
    margin-top: 10em;
    padding: 3em 2em;
}

.logo1 {
    width: 12em;
}

.footer-text {
    width: 100%;
    color: var(--ac);
}


@media (min-width: 900px) {

    main {
        width: 80%;
        margin-inline: auto;
    }

    .heading {
        font-size: var(--mfs);
    }

    .text {
        font-size: 1.2rem;
    }
     
    form {
        margin-left: 7em;
        margin-right: 7em;  
    }

    .form-heading {
        font-size: var(--xlfs);
    }

    .form-flex {
        gap: 3em;
    }

    .form-btn {
        font-size: 1.2rem;
        width: 13em;
    }

    .form-btn1 {
        font-size: 1.2rem;

        margin-top: 1.5em;
        width: 15em;
    }

    .name-box,
    .email-box,
    .phone-box {
        height: 3em;
    }

    .logo1 {
        width: 20em;
    }

    .footer-text {
        font-size: 1.2rem;
        margin-bottom: 0;
    }


}


